<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!-- Footer Start -->
<div class="container-fluid custom-bg text-dark mt-0 pt-5">
    <div class="row px-0 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="font-weight-bold px-3 mr-1" style="color: rgb(158, 117, 1);">Mandodari</span><center>Ceylon</center></h1>
            </a>
            <p style="text-align: justify;">Mandodari Ceylon (Pvt) Limited brings you the finest handmade natural beauty products, authentic Ceylon spices, and handcrafted fashion accessories infused with the essence of Sri Lanka. Our passion is to create high-quality, chemical-free, and sustainable products that enhance beauty, wellness, and lifestyle while celebrating the rich heritage of our island.</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.php"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="shop.php"><i class="fa fa-angle-right mr-2"></i>Shop All</a>
                        <a class="text-dark mb-2" href="index.php"><i class="fa fa-angle-right mr-2"></i>Categories</a>
                        <a class="text-dark mb-2" href="contact.php"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                        <a class="text-dark mb-2" href="about.php"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Categories</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="beauty_products.php"><i class="fa fa-angle-right mr-2"></i>Natural Beauty Products</a>
                        <a class="text-dark mb-2" href="spices.php"><i class="fa fa-angle-right mr-2"></i>Natural Spices</a>
                        <a class="text-dark mb-2" href="fashion.php"><i class="fa fa-angle-right mr-2"></i>Fashion</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Register Now</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
                        </div>
                        <div>
                            <button class="btn btn-block border-0 py-3 text-white" style="background-color: rgb(158, 117, 1);" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<style>
    .custom-bg {
        background-color: rgb(209, 171, 68);
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

    }

    .row {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
</style>

</body>
</html>